/*hoverで斜め30度の白線が左から右に1sで流れる */

.deco-button-shine-overlay {
  animation: shine 5s ease-in-out 2s infinite;
}

@keyframes shine {
  0% {
    left: -100%;
  }
  35% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}
