.heart {
  animation: heartbeat var(--heart-interval)
    cubic-bezier(0.27, -0.01, 0.38, 0.98) infinite;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}
