@import "tailwindcss";

@theme {
  --font-*: initial;
  --font-Nunito: var(--font-Nunito);
  --font-Noto: var(--font-Noto);
  --font-ZenMaruGothic: var(--font-ZenMaruGothic);

  --ease-*: initial;
  --ease-slow: cubic-bezier(0.405, 0, 0.025, 1);
  --ease-minor-spring: cubic-bezier(0.18, 0.89, 0.82, 1.04);

  --background-image-gradient-radial: radial-gradient(var(--tw-gradient-stops));
  --background-image-gradient-conic: conic-gradient(
    from 180deg at 50% 50%,
    var(--tw-gradient-stops)
  );

  --shadow-neumorphism-button: 15px 10px 15px -7px rgba(70, 70, 70, 0.1) inset,
    10px 10px 25px 0px rgba(0, 0, 0, 0.25),
    0px 0px 8px 1px rgba(255, 255, 255, 0.3);
  --shadow-neumorphism-button-pressed: 15px 10px 15px -7px rgba(70, 70, 70, 0.3)
      inset,
    10px 10px 25px 0px rgba(0, 0, 0, 0.25),
    0px 0px 8px 1px rgba(255, 255, 255, 0.3);

  --animate-marquee-horizontal: marquee-x var(--duration) infinite linear;
  --animate-marquee-vertical: marquee-y var(--duration) linear infinite;

  @keyframes marquee-x {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }

  @keyframes marquee-y {
    from {
      transform: translateY(0);
    }

    to {
      transform: translateY(calc(-100% - var(--gap)));
    }
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: #f6f7fa;
  word-break: break-word;
}
