.heart {
  animation: heartbeat var(--heart-interval)
    cubic-bezier(0.27, -0.01, 0.38, 0.98) infinite;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}

.loader {
  --r1: 154%;
  --r2: 68.5%;
  width: 60px;
  aspect-ratio: 1;
  border-radius: 50%;
  background:
    radial-gradient(
      var(--r1) var(--r2) at top,
      #0000 79.5%,
      rgb(239 68 68 / var(--tw-text-opacity)) 80%
    ),
    radial-gradient(
      var(--r1) var(--r2) at bottom,
      rgb(239 68 68 / var(--tw-text-opacity)) 79.5%,
      #0000 80%
    ),
    radial-gradient(
      var(--r1) var(--r2) at top,
      #0000 79.5%,
      rgb(239 68 68 / var(--tw-text-opacity)) 80%
    ),
    #ccc;
  background-size: 50.5% 220%;
  background-position:
    -100% 0%,
    0% 0%,
    100% 0%;
  background-repeat: no-repeat;
  animation: l9 2s infinite linear;
}
@keyframes l9 {
  33% {
    background-position:
      0% 33%,
      100% 33%,
      200% 33%;
  }
  66% {
    background-position:
      -100% 66%,
      0% 66%,
      100% 66%;
  }
  100% {
    background-position:
      0% 100%,
      100% 100%,
      200% 100%;
  }
}
